html,a, body, .card{
    background-color: black;
    color: white;
}    



#container, #about, #about div, .card{
    border-color: white;
}
#navigation{
    box-shadow: 0 2px 5px white;
    
}
#navigation, #container{
    background-color: black;

}


