html,a{
    background-color: black;
    color: white;
}    


#navigation{
    background-color: black;

}

#container, #about, #about div{
    border-color: white;
}
#navigation{
    box-shadow: 0 2px 5px white;

}